@import "tailwindcss";

@theme {
  --color-primary: #7C8A00;
  --color-primary-dark: #646f00;
  --color-secondary: #A3B318;
  --color-accent: #C8D43A;
  --color-bg-light: #FAFAFA;
  --color-card-bg: #FFFFFF;
  --color-dark-text: #111827;
  --color-grey-text: #6B7280;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    color: #111827;
  }
}
